aside {
	position: relative;
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column;
	padding: 0rem 1.25rem;
	border-bottom: 1px solid red;
}

.aside-topo {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;

	position: sticky;
	top: 0;

	height: 2.75rem;
	width: 100%;
	padding: 0.2rem;
}

.pesquisa {
	height: 80%;
	width: 80%;
	background-color: blue;
}

.popular {
	background-color: orangered;
	border-radius: 25px;
	height: 20rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
}

.quem-seguir {
	background-color: yellowgreen;
	height: 20rem;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
}
