body {
	--borda-cor: rgb(77, 77, 77);
	display: grid;
	grid-template-columns: 1.35fr 1fr;
	gap: 0;
	padding-left: 19.25rem;
	margin: 0;
	height: 3000px;
	background-color: black;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
	color: white;
}

.titulo {
	filter: blur(0.025rem);
	font-size: 1.35rem;
	flex: 1;
	padding: .75rem;
	margin: 0;
}

main {
	position: relative;
	border-right: 0.5px solid var(--borda-cor);
	border-left: 0.5px solid var(--borda-cor);
	display: flex;
	flex-direction: column;
	flex: 1.35;
	margin: 0;
}

main .main-topo {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;

	height: 6.5rem;

	display: flex;
	flex-direction: column;

	border-bottom: 0.5px solid var(--borda-cor);
	justify-content: space-between;
	backdrop-filter: blur(10px);
}

.abas {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: end;
}

.aba-botao {
	padding: 0;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 0.7rem;
	height: 100%;
	width: 100%;
	cursor: pointer;
	transition: 0.2s all;
}

.aba-botao:hover {
	background-color: rgba(107, 107, 107, 0.247);
}
